<main style="height: 100%;width: 100svw; box-sizing: border-box;">
    <div style="height: 20%;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: clip;
            flex-direction: column;
            box-sizing: border-box;">
        <div style="display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-grow: 1;
                    margin-top: 1%;
                    box-sizing: border-box;">
            <h1 style="font-size: large;
                    text-align: center;"><strong>{{ question_iterator+1 }}/{{questions.length}}</strong></h1>
        </div>
        <div style="margin-left: 2%;
                    margin-right: 2%;">
            <h1 style="font-size: large; text-align: center;  overflow: clip;"><strong>{{ questions[question_iterator].question }}</strong></h1>
        </div>
    </div>
    <div style="height: 70%; ">
        <div *ngFor="let answer of questions[question_iterator].answers; index as i" style="align-items: center; justify-content: center; box-sizing: border-box; height: 70%;">
            <app-card [answer]="answer" [i]="i" [isCardClicked]="currentlyClickedCardIndex === i" (click)="setClickedCard(i)"></app-card>
        </div>
    </div>
    <div class="text-center" style="height: 10%; display: flex; justify-content: center; align-items: center;">
        <a class="btn btn-info btn-icon mb-sm-0"[ngClass]="{ 'disabled': isButtonDisabled }" (click)="next()" style="background-color: #6AA54C; border-color: #6AA54C; border-radius: 20px; margin-top: 3%" >
            <span class="btn-inner--icon"><img src="./assets/img/brand/t2t-square.png"></span>
            <span class="btn-inner--text">Siguiente</span>
        </a>
    </div>
</main>
