<nav id="navbar-main" class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-light headroom headroom--top headroom--pinned">
  <div class="container">
    <a class="navbar-brand" href="https://t2tacademy.teachable.com/" >
      <img src="./assets/img/brand/t2t-square.png">
    </a>
<!--    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed"-->
<!--          [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">-->
<!--      <span class="navbar-toggler-icon"></span>-->
<!--    </button>-->
<!--    <div class="navbar-collapse collapse" id="navbar_global" [ngbCollapse]="isCollapsed">-->
<!--      <div class="navbar-collapse-header">-->
<!--        <div class="row">-->
<!--          <div class="col-6 collapse-brand">-->
<!--            <a href="https://t2tacademy.teachable.com/">-->
<!--              <img src="./assets/img/brand/t2t-square.png">-->
<!--            </a>-->
<!--          </div>-->
<!--          <div class="col-6 collapse-close">-->
<!--            <button type="button" class="navbar-toggler" (click)="isCollapsed = !isCollapsed"-->
<!--                  [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">-->
<!--              <span></span>-->
<!--              <span></span>-->
<!--            </button>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <ul class="navbar-nav align-items-lg-center ml-lg-auto">-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link nav-link-icon" href="https://www.facebook.com/t2tacademy/" target="_blank" data-toggle="tooltip" title="Seguinos en Facebook">-->
<!--            <i class="fa fa-facebook-square"></i>-->
<!--            <span class="nav-link-inner&#45;&#45;text d-lg-none">Facebook</span>-->
<!--          </a>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link nav-link-icon" href="https://www.instagram.com/t2tacademy/" target="_blank" data-toggle="tooltip" title="Seguinos en Instagram">-->
<!--            <i class="fa fa-instagram"></i>-->
<!--            <span class="nav-link-inner&#45;&#45;text d-lg-none">Instagram</span>-->
<!--          </a>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link nav-link-icon" href="https://t2tacademy.teachable.com/" target="_blank" data-toggle="tooltip" title="Aprendé con nosotros">-->
<!--            <i class="fa fa-globe"></i>-->
<!--            <span class="nav-link-inner&#45;&#45;text d-lg-none">Página</span>-->
<!--          </a>-->
<!--        </li>-->
<!--      </ul>-->
<!--    </div>-->
  </div>
</nav>
