.centered-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100vw;
}
.top-image-container{
    /* Set the background image */
    background-image: url('../../assets/img/theme/welcome.jpg');

    /* Set the background size and position */
    background-size: cover;
    background-position: center;
    height: 20vh; /* 50% of the viewport height */
    width: 100vw;
}
