<app-navbar></app-navbar>
<main style="height: 100vh; display: flex; flex-direction: column;">
    <div class="top-image-container"></div>
    <div class="centered-container">
        <div style="display:flex; justify-content: space-around; align-items: center; flex-direction: column; width: 80%;">
            <div style="margin: 2%">
                <h1 class="text-t2t-blue" style="text-align: center;">¿Sos un profesional <h1 class="h1 text-t2t-green" style="display: inline;">diferente</h1>?</h1>
                <h3 class="text-t2t-blue" style="text-align: center;">Auto-Test de habilidades blandas</h3>
                <p class="lead text-t2t-blue" style="text-align: center;">¿Querés saber cuánto has desarrollado las 10 habilidades blandas más importantes? </p>
            </div>
        </div>
        <div style="width: 100%; height: 10%" class="text-center">
            <a [routerLink]="['/data-entry']" class="btn btn-info btn-icon mb-3 mb-sm-0" style="background-color: #6AA54C; border-color: #6AA54C; border-radius: 20px;">
                <span class="btn-inner--icon"><img src="./assets/img/brand/t2t-square.png"></span>
                <span class="btn-inner--text">Comenzar</span>
            </a>
        </div>
    </div>
</main>
